{% include 'new_header' %}
<top-element>
  <section class="single-hero default-padding-section position-relative">
    <img
      class="hero-full-image position-absolute object-fit-cover top-0 h-100 w-100 z-n1"
      src="{{ row.mobil_bild }}"
      srcset="{{ row.desktop_bild }} 992w"
      loading="lazy"
      alt="{{ page.title }}">
    <div class="image-overlay position-absolute top-0 start-0 w-100 h-100 bg-overlay-black-40 z-n1"></div>

    <div class="container z-1">
      <div class="row row-gap-2xl">
        <div class="col-12 col-lg-7 text-white d-flex flex-column row-gap-lg padding-x-lg-2xl single-hero__text">
          <a href="/karriar" class="default-link text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none">
              <path
                d="M16.6673 10H3.33398M3.33398 10L8.33398 15M3.33398 10L8.33398 5"
                stroke="white"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"/>
            </svg>
            {{ "Alla lediga tjänster" | t }}
          </a>

          <h1 class="display-lg fw-bold">{{ row.tjanst }}</h1>
          <p class="text-lg">{{ row.kort_beskrivning }}</p>
        </div>

        <div class="col-12 col-lg-5 d-flex align-items-end justify-content-lg-end">
          <a href="#apply-section" class="brand-button-primary">{{ "Ansök här" | t }}</a>
        </div>

      </div>
    </div>
  </section>
</top-element>

<section class="default-padding-section">
  <div class="container">
    <div class="row row-gap-2xl">
      <div class="col-12 col-lg-8">
        {{ row.content }}
      </div>
      <div class="col-12 col-lg-4">
        <div
          class="gray-card bg-secondary d-flex flex-column row-gap-sm radius-md padding-y-2xl padding-x-xl padding-y-lg-3xl padding-x-lg-2xl">
          <p class="text-lg fw-bold">{{ "Bra att veta" | t }}</p>
          <p class="text-md fw-semi">{{ 'Arbetsort' | t }}:
            <span class="text-md fw-regular">{{ row.ort }}</span>
          </p>
          <p class="text-md fw-semi">{{ 'Kontaktperson' | t }}:
            <span class="text-md fw-regular">{{ row.kontaktperson }}</span>
          </p>
          <p class="text-md fw-semi">{{ 'Arbetstid' | t }}:
            <span class="text-md fw-regular">{{ row.arbetstid }}</span>
          </p>
          <p class="text-md fw-semi">{{ 'Sista ansökningsdatum' | t }}:
            <span class="text-md fw-regular">{{ row.ansoknings_datum }}</span>
          </p>
          <p class="text-md fw-semi">{{ 'Tillträde' | t }}:
            <span class="text-md fw-regular">{{ row.tilltrade }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="default-padding-section bg-secondary" id="apply-section">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column  row-gap-base margin-bottom-2xl margin-bottom-lg-4xl">
        <h3 class="display-md fw-bold text-center">{{ "Ansökan" | t }}</h3>
        <p class="text-secondary text-lg text-center">{{ "Fyll i uppgifterna nedan för att söka denna tjänst" | t }}</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <form-component
          class="job-application-form d-flex flex-column row-gap-2xl w-100 justify-content-end px-lg-3"
          action="/sv/forms/jobbansokan"
          method="post"
          enctype="multipart/form-data"
          modal="#job-application-modal">

          <input type="hidden" name="tjanst" value="{{ row.tjanst }}">
          <input type="hidden" name="tjanst_ort" value="{{ row.ort }}">

          <div class="d-flex flex-wrap column-gap-sm row-gap-2xl">
            <div class="input-group has-validation col-12 col-lg">
              <label
                aria-label="Förnamn"
                for="firstname"
                class="text-sm fw-semi w-100 margin-bottom-3xs">
                {{ 'Förnamn' | t }}*
              </label>
              <input
                id="firstname"
                type="text"
                class=" input-default form-control"
                name="förnamn"
                required>
              <div class="invalid-feedback">
                {{ "Vänligen fyll ditt förnamn" | t }}
              </div>
            </div>

            <div class="input-group has-validation col-12 col-lg">
              <label
                aria-label="Efternamn"
                for="lastname"
                class="text-sm fw-semi w-100 margin-bottom-3xs">
                {{ 'Efternamn' | t }}*
              </label>
              <input
                id="lastname"
                type="text" §
                class=" input-default form-control"
                name="efternamn"
                required>
              <div class="invalid-feedback">
                {{ "Vänligen fyll ditt efternamn" | t }}
              </div>
            </div>
          </div>

          <div class="d-flex flex-wrap column-gap-sm row-gap-2xl">
            <div class="input-group has-validation col-12 col-lg">
              <label
                aria-label="Epost"
                for="epost"
                class="text-sm fw-semi w-100 margin-bottom-3xs">
                {{ 'Epost' | t }}*
              </label>
              <input
                id="epost"
                type="email"
                class=" input-default form-control"
                name="epost"
                placeholder="epost@epost.se"
                required>
              <div class="invalid-feedback">
                {{ "Vänligen fyll i en giltig epost adress" | t }}
              </div>
            </div>

            <div class="input-group has-validation col-12 col-lg">
              <label
                aria-label="Telefonnummer"
                for="telefonnummer"
                class="text-sm fw-semi w-100 margin-bottom-3xs">
                {{ 'Telefonnummer' | t }}*
              </label>
              <input
                id="telefonnummer"
                type="tel"
                class=" input-default form-control"
                name="telefonnummer"
                required>
              <div class="invalid-feedback">
                {{ "Vänligen fyll i ditt telefonnummer" | t }}
              </div>
            </div>
          </div>

          <drag-file>
            <div class="input-group has-validation">
              <label
                aria-label="CV"
                for="cv"
                class="text-sm fw-semi w-100 margin-bottom-3xs">
                {{ 'Ladda upp ditt CV' | t }}*
              </label>
              <input
                id="cv"
                type="file"
                class=" input-default form-control"
                name="cv"
                hidden
                aria-hidden="true"
                accept=".pdf,.doc,.docx, .txt"
                required>

              <div id="drop-area" class="w-100 bg-white radius-md input-default justify-content-center padding-x-3xs">
                <p class="drop-area__text text-center text-md">{{ 'Dra en fil hit eller' }}
                  <span
                    class="text-md fw-semi">{{ "ladda upp fil" | t }}</span>
                </p>
              </div>
              <div class="invalid-feedback">
                {{ "Vänligen ladda upp ditt CV" | t }}
              </div>
            </div>
          </drag-file>


          <drag-file>
            <label
              aria-label="CV"
              for="övrigt"
              class="text-sm fw-semi w-100 margin-bottom-3xs d-flex align-items-center justify-content-between">
              {{ 'Ladda upp övriga dokumnent' | t }}
              <span class="text-sm text-tertiary fw-regular">
                {{ "Frivilligt" | t }}
              </span>
            </label>
            <input
              id="övrigt"
              type="file"
              class=" input-default form-control"
              name="övrigt"
              hidden
              aria-hidden="true"
              accept=".pdf,.doc,.docx, .txt"
              multiple
            >

            <div id="drop-area" class=" bg-white radius-md input-default justify-content-center padding-x-3xs">
              <p class="drop-area__text text-center text-md">{{ 'Dra en fil hit eller' }} <span
                  class="text-md fw-semi">{{ "ladda upp fil" | t }}</span></p>
            </div>
          </drag-file>


          <div class="input-group">
            <label
              aria-label="Meddelande"
              for="message"
              class="text-sm fw-semi w-100 margin-bottom-3xs d-flex align-items-center justify-content-between">
              {{ 'Berätta kort om dig själv' | t }}
              <span class="text-sm text-tertiary fw-regular">
                {{ "Frivilligt" | t }}
              </span>
            </label>
            <textarea
              id="message"
              class=" input-default h-auto w-100 padding-top-sm"
              name="message"
              rows="5"
              placeholder="{{ "Skriv ditt meddelande här..." | t }}"
            ></textarea>
          </div>

          <div class="input-group has-validation d-flex gap-sm">
            <input
              id="policy"
              class="checkbox-default checkbox--brand-primary"
              type="checkbox"
              name="gdpr"
              required>
            <label
              class="d-flex align-items-center gap-3xs text-sm "
              aria-label="integritetspolicy"
              for="policy">
              {{ 'Du godkänner vår ' | t }}
              <a href="/integritetspolicy" class="default-link">{{ 'integritetspolicy' | t }}</a>
            </label>
            <div class="invalid-feedback">
              {{ "Du måste godkänna vår integritetspolicy." | t }}
            </div>
          </div>

          <div class="col-12 margin-top-base">
            <button type="submit" class="brand-button-primary button-large w-100">{{ "Skicka" | t }}</button>
          </div>

        </form-component>
      </div>
    </div>
  </div>
</section>

<modal-component id="job-application-modal" class="form-popup-modal">
  <div class="news-letter-modal">
    <div class="news-letter-modal__header d-flex margin-bottom-3xs justify-content-between align-items-center">
      <p class="text-lg text-primary fw-bold mb-0">{{ "Tack för din ansökan!" | t }}</p>
      <button
        id="close-button"
        type="button"
        class=" navigation-button radius-full"
        aria-label="Stäng varukorg"
        data-modal-action="close"
        data-modal-element="#job-application-modal">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none">
          <path
            d="M12 4L4 12M4 4L12 12"
            stroke="#030712"
            stroke-width="1.66667"
            stroke-linecap="round"
            stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <div class="news-letter-modal__body">
      <p class="text-md text-secondary mb-0">{{ 'Ansökan brödtext' }}</p>
    </div>

    <div class="news-letter-modal__footer margin-top-xl d-flex">
      <button
        type="button"
        class="neutral-button-primary button-large w-100"
        data-modal-action="close"
        data-modal-element="#job-application-modal">{{ "Tillbaka till hemsidan" | t }}</button>
    </div>
  </div>
</modal-component>

{% include 'new_footer' %}