{% include 'new_header' %}

<top-element>
  <section class="padding-y-5xl padding-y-lg-6xl bg-brand-default">
    <div class="container">
      <div class="row row-gap-2xl">
        <div class="col-12 col-lg-7 d-flex flex-column row-gap-lg">
          {{ 'om-oss-top' | global_editable: class:'text-lg-p display-lg-heading' }}
        </div>
        <div class="col-12 col-lg-5 d-flex align-items-end justify-content-lg-end">
          {{ 'om-oss-cta-top' | global_editable: class: 'neutral-buttons-group d-flex flex-column gap-sm align-items-start flex-column flex-lg-row' }}
        </div>
      </div>
    </div>
  </section>
</top-element>

<section class="default-padding-section">
  <div class="container">
    <div class="row row-gap-xl">
      {% for i in (1..4) %}
        {% assign editable_name = 'om-oss-box-' | append: i %}
        {{ editable_name | global_editable: class: 'col-12 col-md-6 col-lg-3 d-flex flex-column row-gap-xs display-lg-heading text-md-p' }}
      {% endfor %}
    </div>

    <div class="row margin-top-2xl margin-top-lg-4xl">
      <div class="col-12">
        {{ 'om-oss-image' | global_editable: class: 'sub-page-image' }}
      </div>
    </div>
  </div>
</section>

<section class="default-padding-section">
  <div class="container">
    <div class="row">
      {{ 'om-oss-values' | global_editable: class: 'd-flex flex-column row-gap-lg col-12 col-lg-7' }}
    </div>

    <div class="row margin-top-4xl row-gap-xl">
      {% for i in (1..3) %}
        {% assign editable_name = 'om-oss-values-' | append: i %}
        <div class="col-12 col-lg-4">
          {{ editable_name | global_editable: class: 'bg-secondary radius-md d-flex flex-column row-gap-sm padding-y-2xl padding-x-xl padding-y-lg-3xl padding-x-lg-2xl h-100 display-xs-heading text-md-p' }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="default-padding-section" id="our-history">
  <div class="container">
    <fade-in threshold="0.5">
      <div class="row align-items-center row-gap-4xl">
        {{ 'om-oss-callout-text' | global_editable: class: 'col-12 col-lg-6 d-flex flex-column row-gap-lg padding-right-lg-2xl' }}
        {{ 'om-oss-callout-image' | global_editable: class: 'col-12 col-lg-6' }}
      </div>
    </fade-in>
  </div>
</section>


<section class="default-padding-section ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="d-flex flex-wrap row-gap-xl align-items-center bg-brand-default radius-lg padding-y-2xl padding-x-lg padding-x-lg-4xl">
          {{ 'om-oss-projekt-yellow' | global_editable: class: 'd-flex flex-column align-items-start row-gap-lg om-oss-projekt-yellow col-12 col-lg-6 padding-right-lg-7xl' }}

          <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="154" height="354" viewBox="0 0 154 354" fill="none">
              <path
                d="M85.3027 318.367L86.015 319.796L84.9135 321.095H82.9061L83.4237 320.185V319.211L84.4601 318.692V317.522L83.7478 318.042C83.7478 318.042 83.8772 316.742 83.6183 316.547C83.3595 316.352 82.9061 316.222 82.9061 316.222V314.402L82.3232 313.688L83.1007 312.908L83.3595 311.024L83.1649 309.854L82.7114 309.465L83.0355 306.736L84.1686 305.956L86.0141 304.656V303.422L86.5317 301.602L87.6975 301.147H88.475V300.108L90.1594 299.003C90.1594 299.003 90.677 300.757 90.8717 300.822C91.0663 300.888 92.0374 299.003 92.0374 299.003L93.1389 299.717L94.1101 300.627L93.0737 301.732L93.1389 302.121L92.1026 302.771L92.232 303.422L90.678 303.681L90.354 305.11L90.678 305.825L90.4192 307.06L90.1604 308.034L90.6138 309.074L91.5207 309.724L92.1688 310.049L91.5207 310.958L90.5496 311.413L89.7079 312.583L89.4491 313.557L89.7079 314.012L89.2544 314.726H88.2181L87.7646 315.311L87.0524 315.571L86.3401 316.351L86.016 316.74L86.4695 317L85.7572 317.715L85.3037 318.365L85.3027 318.367Z"
                fill="#030712"/>
              <path
                d="M62.5687 336.689L64.1879 334.285L64.9002 331.296V329.412L65.9365 328.502V326.293L67.2317 323.824L67.8798 322.33V320.121L69.1107 318.367L70.5353 315.768V313.949L70.9888 312.779L71.4422 312.194L70.9246 311.414L69.7588 312.324L69.4348 314.274L68.7867 315.313L68.6573 316.808L67.4915 318.107L67.0055 319.861L66.3258 322.2L65.16 322.33L64.6424 323.694C64.6424 323.694 63.0232 328.242 62.958 328.502C62.8928 328.762 62.1805 330.386 62.1805 330.386V331.296L62.8286 332.14L62.5697 333.245V336.689H62.5687Z"
                fill="#030712"/>
              <path
                d="M154 101.53L153.827 99.7101L153.309 97.6309L152.619 96.072L151.497 94.1662L150.374 91.3071L149.424 89.3141L148.733 86.7155V84.6363L148.561 82.2975L149.511 80.7385L150.72 78.0528V76.8398L150.547 75.0202L150.633 73.7209L151.065 72.3345L152.015 71.4683L151.756 69.3891L150.893 68.5229L150.115 67.3971L150.03 66.0978L149.425 65.4051L148.561 63.4993L147.439 60.4677L147.007 59.1684L147.093 57.6095L148.216 56.5699L149.079 54.9238L149.165 53.4511L148.992 52.0646L147.438 51.7177L146.056 51.5443L145.106 50.9378V49.4651L146.228 47.4721L146.055 46.0856L146.141 43.4871L146.573 38.6359L147.436 36.9036L147.35 34.9978L146.746 33.3517L145.623 31.879L143.205 29.0198L142.514 26.8544L141.219 24.5155L138.715 22.0894L136.901 21.0498L133.36 19.5771L127.661 16.5455L122.738 12.4743L121.616 10.7419L120.407 9.26925L118.939 7.44969L116.866 5.54391L115.83 3.72435L114.189 1.55892L111.598 0L109.072 0.45489L107 0.325063L106.093 0.90978V1.68973L107.453 2.72934L108.231 3.96418L108.748 5.45868L108.878 7.5379L108.813 9.42188L108.488 10.7211L107.582 12.8648L106.804 14.2939L105.703 15.8528L104.731 17.0222L105.185 17.5415L106.286 17.8012L107.776 18.1907L108.294 18.6455L107.128 19.815L105.768 20.8546L104.731 22.0894V23.129L103.436 22.9992L101.622 22.2193L99.0321 20.8546L96.506 19.6197L94.1093 18.3849L92.7489 17.9954L91.0645 18.2551L89.7042 18.3205L88.2796 17.7358L86.6604 16.5663L85.8829 15.722L83.4862 16.1768L82.7739 17.8012V22.2193L83.422 23.8436L83.5514 25.793V27.4173L82.7739 29.7562L81.6724 32.4201L80.4414 34.8888L77.9153 33.5241L75.9721 31.8998L73.5112 30.5351L70.5968 33.7838L68.3295 35.6033L67.2932 37.0978V38.852L66.7103 40.9956L65.998 43.1392L65.0911 45.3483L64.7029 46.7774L63.7959 48.5969L60.1041 49.3115L59.456 51.1955L60.3629 53.015L61.5939 55.2895L62.6954 57.3687L62.9542 59.5777V62.1118L62.889 63.7362C62.889 63.7362 62.1115 64.6459 61.8527 64.7758C61.5939 64.9056 60.2335 66.075 60.2335 66.075L59.0026 67.8946L57.578 70.3633L52.6552 78.0954L51.6188 79.5245L50.1943 80.9536L51.036 84.3975L51.4894 86.3469L50.1943 87.9712L48.251 89.5301L46.4372 90.1802L44.5592 90.5053L40.7379 90.9602L41.1261 97.7826L41.5796 100.187L40.7379 103.435L40.2202 107.464V113.896L39.7668 115.455L38.7956 116.56L38.4716 120.263L36.8524 122.668L35.492 125.072L33.5488 128.971L31.735 132.739L30.6986 134.948V135.858L32.383 136.508L34.1317 137.482L36.2043 139.106L36.5926 140.731V142.615C36.5926 142.615 36.6578 144.173 36.5926 144.434C36.5274 144.695 36.3979 146.643 36.2043 146.838C36.0107 147.034 35.168 148.918 35.168 148.918L34.4557 149.892H32.4482L30.2462 149.242L27.9147 148.917L25.1939 148.072L21.7609 149.371L20.3363 150.281L19.0412 152.165L17.0979 155.219L15.0253 158.012L13.6649 160.156L13.082 161.585V163.08L13.6649 164.639L13.7301 166.133L12.435 167.562L11.0104 169.186V170.226L11.3344 172.175L12.6296 175.554L13.6007 176.723L13.5355 178.023L12.6938 179.128L12.1109 179.972L12.3055 181.271L12.6296 182.636L12.2413 184.845L11.9825 186.989L11.9173 188.808L12.5002 190.562L13.2124 192.382L13.9899 194.201C13.9899 194.201 14.5076 195.241 14.5076 195.436C14.5076 195.632 14.3782 197.126 14.3782 197.126L13.4713 202.779L13.1472 206.028L12.759 208.237L12.9536 210.316L13.9899 211.875L15.9974 213.954L18.2647 214.604L19.8839 216.163L20.5962 217.658L21.4379 219.477L21.3727 220.712L20.7246 223.376L20.0765 225.585L19.2348 226.95H17.2274L14.8959 227.275L13.989 228.249L14.8307 229.808L15.4787 231.627L15.5439 233.381L16.192 235.136L17.6166 237.085L18.4583 239.489C18.4583 239.489 18.5877 240.594 18.5877 240.854C18.5877 241.114 18.1343 242.413 18.0048 242.608C17.8754 242.803 17.0979 243.648 17.0979 243.648L17.0327 245.467L17.8102 246.962L17.6808 248.197L17.0327 250.34L15.3483 252.094L13.7943 253.264L12.2403 253.978H10.4917L9.32597 255.083L9.84364 256.642L10.1677 258.332L9.84364 259.631L7.64156 260.931L7.9656 262.555L8.80731 266.388L8.87251 268.338L8.93772 270.222L8.61368 272.171L7.64255 273.406V276.265L7.2543 276.915H5.05222L4.53455 275.096V273.146L2.85015 272.236L0.777493 272.691L0 274.186V274.9L1.48978 275.03L0.388253 275.68L0.647088 276.915L1.42458 277.565L1.48978 278.539V279.579L1.87804 280.294L1.10054 280.944L1.74862 281.918L1.554 283.217L2.00745 283.867L2.07266 285.102L2.20207 286.272L2.52611 286.986L2.00844 288.026L1.81382 288.87L2.07266 289.389L2.85015 289L3.30361 288.026L4.0159 288.936L3.49823 289.975L3.82226 290.949C3.82226 290.949 4.0811 291.794 4.27572 291.859C4.47034 291.924 5.82972 291.859 5.82972 291.859L6.67143 290.819L7.2543 289.91H7.90237L9.58678 289.65L8.80929 290.3L8.42103 290.819L9.00391 292.378H9.32794L9.06911 293.807L8.61565 294.977L8.55045 296.406L8.42103 297.056L7.90336 298.551L7.57933 299.201L7.77395 299.72H7.19107L6.93224 301.474L7.51511 301.994H8.2274L8.2926 302.838L7.45089 303.423L7.19206 303.942H7.90435L9.32893 305.501L9.65297 306.086L9.52355 306.8L9.91181 307.774L9.71719 308.489H10.0412L9.71719 309.269L9.58777 310.308L10.1706 311.348H10.7535L10.8187 310.504L11.3364 309.789L11.7898 309.919L11.855 310.829V311.803L12.762 312.647L12.3085 313.427L11.855 313.752L12.2433 314.727H12.8262L13.2144 315.832L13.8625 318.366L14.7042 319.21L14.8988 320.834L16.8421 322.069C16.8421 322.069 18.0078 323.759 18.0078 323.953V324.927L18.5907 326.227L19.1084 326.746H20.6624L21.5693 327.135L21.7639 328.435C21.7639 328.435 21.6987 329.409 21.6987 329.669C21.6987 329.93 21.5041 330.839 21.5041 330.839L20.7266 331.553L19.625 330.839L18.7181 331.034L17.8112 331.879L18.0058 332.268H18.6539L19.2368 332.853L19.4314 333.633L20.2089 334.413L20.5329 335.193L20.0795 335.712H19.1084L17.9426 335.387L17.1651 334.802L16.3876 334.477L16.9705 335.712L19.7554 341.495L20.2089 343.184L21.4398 343.509L21.6987 344.549L22.0869 345.329L22.9286 346.758L23.0581 348.057V349.097L22.5404 349.682L21.8281 349.032L21.5041 350.137V351.176L21.4389 351.956L20.4677 352.866L20.4025 353.321H21.3737L22.0859 352.736L22.9277 353.321H23.8988L25.1939 353.971C25.1939 353.971 25.7116 353.906 25.9062 353.971C26.1009 354.036 27.4602 353.971 27.4602 353.971L28.5618 354L29.5329 353.191L30.504 352.996L31.5403 352.93H33.1595L34.1307 353.255L34.6483 353.999L35.8793 353.71L36.8504 352.866L37.3039 352.281L37.6921 351.176L37.8867 350.202L37.5627 349.097L36.6558 348.253L36.2023 347.538L36.2675 346.303L36.5264 345.393L36.721 344.484L37.1093 343.574L37.6921 342.664L37.8215 341.82L38.4044 341.105L39.1819 340.131L40.2182 339.742L41.1251 339.871L41.1903 340.521L42.0321 340.651L42.939 340.392L42.7444 339.222L42.3561 338.248L42.1615 337.533H43.9101L44.817 337.404L45.4651 337.599L46.1132 337.144H46.696L47.1495 337.274L48.1858 337.404L49.1569 336.884L49.8692 337.014L49.0275 337.794L50.5815 337.924C50.5815 337.924 50.5815 337.274 50.7761 337.144C50.9708 337.014 51.1644 336.689 51.2938 336.884C51.4232 337.08 51.4884 337.404 51.4884 337.404L52.1365 337.079L53.5611 336.949L54.792 337.338L55.5695 337.208L55.6347 338.248L56.2176 338.703L56.7353 337.533L57.577 336.428L58.0947 335.778L58.8069 333.18L59.3898 331.166L59.6487 330.322L60.361 329.412L60.4904 327.592L62.0444 326.618L62.1738 324.474L62.4978 322.655L62.8219 320.965L63.2101 319.406L63.4047 318.951L64.117 318.626L64.3116 317.716L63.4699 316.611L63.8582 313.752L63.5993 313.297L64.5705 312.192C64.5705 312.192 64.3759 311.087 64.5705 311.023L64.7651 310.958L66.2549 309.723L65.9308 309.463L66.5137 308.164L65.348 307.514L64.4411 307.384L64.3116 306.279L65.0891 306.864L65.4774 306.279V304.914L64.6357 303.679L65.4132 304.134L66.1255 304.2L66.0603 303.225L63.0807 300.107L64.2464 300.691L63.8582 299.977L64.9597 299.392L64.3768 298.352L63.8592 297.508L64.9607 297.703L65.2847 299.068L65.6088 300.237L65.8676 299.848C65.8676 299.848 67.552 299.783 67.4216 299.458C67.2912 299.134 65.4784 297.379 65.4784 297.379L65.7372 296.599L66.4495 296.989L66.5789 296.274L66.7083 295.235L65.7372 294.325L67.3564 294.39L67.6152 293.155L67.1618 292.311C67.1618 292.311 68.0035 291.922 67.7447 291.726C67.4858 291.531 66.7083 291.076 66.7083 291.076C66.7083 291.076 67.226 289.712 67.226 289.517C67.226 289.323 66.3843 288.673 66.3843 288.673L65.2186 288.154L62.3684 286.789L63.9224 286.529L65.8656 287.634H67.0966L68.3275 287.375L68.9104 286.335L67.8741 285.685C67.8741 285.685 67.8089 285.166 67.6152 285.035C67.4216 284.904 65.672 284.32 65.672 284.32L64.0528 284.386C64.0528 284.386 62.3684 283.866 62.1748 283.866H59.9727L60.6208 283.216L61.0742 282.502L65.2838 282.827L67.1618 283.736L68.8462 284.646L70.4002 284.516L70.4654 283.411L69.1702 282.632L70.0119 282.566H71.1777L71.2429 282.177L70.5306 281.137L70.4012 280.812L70.66 280.162L71.4375 281.006L72.4738 281.072L73.2513 280.552L74.093 280.293C74.093 280.293 73.8984 279.773 74.1582 279.708C74.4171 279.642 75.2598 279.318 75.2598 279.318L75.0009 277.759L75.7784 278.214L75.7132 277.24L76.6201 277.175L76.8148 274.445L77.0094 272.432L77.3868 271.977L78.1099 272.561H78.6928L78.9516 273.601L78.6928 275.03L79.0168 276.589L79.5997 277.239L79.8586 278.019L80.312 276.784C80.312 276.784 80.9601 276.265 81.0243 276.07C81.0885 275.875 81.2189 274.511 81.2189 274.511L82.3204 273.471L83.422 272.691L84.4583 273.211L84.9118 272.106L85.9481 271.391L86.0133 269.507L84.9118 268.533L85.0412 267.753L86.0775 268.078L86.9844 269.247L87.6967 269.443L88.3448 267.948L88.6036 267.234L87.8913 265.999L87.179 265.349L86.3373 266.193L84.9127 266.063L84.5245 266.908L83.2935 266.582L82.7107 265.868L82.9053 264.503C82.9053 264.503 83.2935 265.477 83.4882 265.477C83.6828 265.477 83.8122 265.088 84.071 265.023C84.3299 264.957 85.2368 264.633 85.2368 264.633L85.302 264.048H85.8849L88.6698 261.839L89.6409 260.734V259.825L90.9361 258.72L92.2965 258.394H93.5916L93.9157 257.16L91.4548 257.355L90.0944 257.289L90.5478 256.705L92.8151 256.509L92.7499 255.47L91.6484 253.78H91.9724L93.2676 254.82L93.8505 255.47L93.9157 254.885L93.5274 254.105L92.167 253.022L91.2601 250.857L91.0655 249.189H90.4826L89.7704 248.538H88.9286L87.18 247.759V246.827L85.4314 244.532L85.8196 244.336L87.18 246.069H88.4752L87.2442 244.336L87.3094 242.343L87.0506 240.481L86.2731 239.615L86.0143 241.261V242.019L85.6902 242.864H84.8485L82.517 241.261L82.6464 240.481L81.8047 239.615L81.4807 237.569H80.1855L78.9546 237.926L78.8252 239.616H77.3897L77.0123 237.57L75.2637 237.212L75.5226 238.771L75.1985 239.615L74.3568 240.481L73.6445 239.615L74.4862 238.25L74.421 236.626L72.7366 235.673L72.219 235.261L73.5793 233.832L73.5141 232.208L72.8018 232.143L73.1901 231.038L71.5709 229.283L72.4778 227.594L71.4415 227.528L72.0243 225.515L71.7003 224.735L71.8949 223.695L71.6361 223.11L72.1538 222.785L72.2832 221.746L71.1816 220.446L71.8297 220.251L72.866 220.706L72.9955 220.381L71.1174 218.757L71.0522 217.782L72.4126 217.717L71.7003 216.873L71.7655 215.378L70.988 215.053L70.9228 213.884L71.2468 213.299L71.1816 212.78L72.3474 212.584L72.9303 211.804L72.218 210.699H71.1816L70.987 209.66L72.6062 209.919L73.5773 211.154L73.9014 210.244L74.5495 211.739L75.651 213.038L75.7804 211.609L75.9098 210.31L74.42 209.53L74.2906 207.906L73.5131 206.606L73.9014 206.281L73.8362 204.397L74.2244 203.292L74.8725 202.903L75.1313 200.499L75.5196 198.874L75.4544 197.835L76.6201 197.38L76.5549 197.835L77.8501 197.315L77.0726 196.535L75.9711 196.406L75.2588 195.171L74.2877 195.69L74.0288 193.351L74.4823 193.091L74.2234 192.182L73.446 191.467V190.428L74.4171 190.298L74.6759 189.388L75.5828 189.648L76.1657 191.467L77.3858 191.922V192.441L78.0447 191.597L77.3858 190.882L78.1089 190.493L79.1453 190.558L80.1816 189.844L80.4404 188.545L80.1816 187.439L81.1527 187.374L81.2179 188.869L82.189 187.179L79.987 186.139L81.0885 186.074L81.0233 183.215L79.7281 182.175L79.5335 179.381L80.1164 179.316L80.3752 181.59L81.1527 182.175L81.865 181.201L83.419 182.175L82.5121 182.37L81.7998 182.175C81.7998 182.175 81.541 182.76 81.7998 182.76C82.0586 182.76 83.095 183.019 83.095 183.019L84.973 182.824C84.973 182.824 85.1676 181.719 84.7142 181.655C84.2607 181.589 83.9367 181.265 83.9367 181.265L84.1313 180.226L84.9088 180.16L85.1676 181.2L86.7868 180.875L86.2692 180.03C86.2692 180.03 87.3055 179.965 87.3055 179.771C87.3055 179.577 87.8884 179.251 87.1109 179.056L86.3334 178.861V178.342L87.8874 178.537C87.8874 178.537 87.8222 177.563 87.4991 177.563C87.1761 177.563 86.0093 177.628 86.0093 177.628L84.5847 177.823L84.973 176.993L85.8799 176.393L86.204 176.993L86.2692 176.069L87.1109 176.199L87.0457 175.419C87.0457 175.419 87.6937 175.354 87.6285 175.03C87.5633 174.705 87.4339 173.535 87.4339 173.535L88.3408 173.99L88.5997 172.921H89.5708L88.9227 171.603L89.5056 171.246L90.6071 171.603L90.2831 172.041L91.7729 172.496C91.7729 172.496 92.3557 171.232 92.0317 171.247C91.7077 171.262 90.2831 170.935 90.2831 170.935V170.266C90.2831 170.266 90.7365 170.244 90.9954 170.266C91.2542 170.287 91.6434 169.573 91.6434 169.573L92.3557 170.266L92.8734 171.247H93.9097L94.8809 170.266L94.9461 169.356L96.0476 168.512C96.0476 168.512 96.3064 166.065 96.3064 165.869C96.3064 165.674 97.3428 165.285 97.3428 165.285L97.5374 164.7L98.3791 165.155C98.3791 165.155 98.7673 165.155 98.8325 164.96C98.8977 164.764 98.3791 163.66 98.3791 163.66C98.3791 163.66 98.6379 162.555 98.8325 162.555C99.0272 162.555 100.322 163.465 100.322 163.465L100.97 165.999L102.201 165.155L101.748 163.856L102.655 163.076L104.339 161.321L105.051 160.477L105.31 159.763L107.124 160.022L107.448 159.308L108.226 157.012L109.067 158.529L109.391 157.012C109.391 157.012 110.233 157.966 110.363 157.467C110.492 156.969 110.492 155.799 110.492 155.799L111.14 157.012L111.269 156.232H112.694L113.796 154.175L114.313 154.045L114.616 151.836L115.22 150.407L115.479 148.848L115.803 149.108L115.868 146.964L116.516 146.769L116.905 145.34C116.905 145.34 117.682 145.34 117.876 145.47C118.069 145.6 118.2 144.82 118.2 144.82L119.743 142.74L120.742 142.936L121.373 141.636L122.646 141.052V139.557L123.704 138.583L122.646 138.453L122.149 137.479C122.149 137.479 120.854 137.544 121.178 137.219C121.502 136.894 122.215 136.375 122.215 136.375L121.739 134.946L120.741 134.556L120.034 134.686L119.743 133.387L118.912 133.192L117.681 131.178L118.847 131.437L119.041 132.282L119.743 132.216L119.107 131.111V130.331H119.743C119.743 130.331 119.991 129.877 119.743 129.812C119.495 129.748 117.876 129.878 117.876 129.878L117.422 129.033L116.645 128.123L116.71 127.539L118.135 128.383L118.588 127.084L119.3 126.824L119.171 125.33L120.466 124.81L120.661 123.251L121.892 122.915L121.826 121.693H122.604L122.669 119.938C122.669 119.938 123.64 119.549 123.576 119.224C123.512 118.899 122.345 117.08 122.345 117.08L122.28 115.716L122.863 116.366L123.964 116.3L124.742 115.065L123.705 114.87C123.705 114.87 124.159 114.285 123.9 114.22C123.641 114.155 122.734 114.285 122.734 114.285L121.827 113.701L122.216 112.401L123.187 113.376L123.446 112.596L124.677 112.466L125.778 113.246L125.649 112.076L126.75 112.011H127.592L127.462 111.361L128.24 111.621L128.369 110.365L127.204 109.477L126.491 108.567L127.139 107.917L128.305 108.761H129.666L129.536 107.722L128.112 106.748L126.492 105.123L125.651 104.409V103.564L127.853 105.254L128.694 105.904L129.536 106.099L130.054 106.554L130.119 107.399H131.026L132.58 107.724L133.681 106.879L132.192 105.71C132.192 105.71 132.192 105.32 131.803 105.32C131.415 105.32 130.832 105.191 130.832 105.191L131.027 104.216L131.675 104.087L132.193 104.606L131.804 103.436L132.063 101.942L131.675 101.227L132.193 100.773L132.063 99.9282L131.739 99.2136L133.812 99.0838L134.395 100.383L134.654 101.033L135.366 100.903L135.754 101.423L136.142 101.227L136.337 101.878L136.466 101.033L136.532 99.6685L135.107 98.0442L136.338 97.9144L137.504 99.2136L138.605 100.903L139.447 101.293L140.807 102.203L141.002 103.242L141.714 101.943L142.556 102.008L143.527 101.034H144.629L144.953 100.32L145.406 99.8003L145.989 99.7349L146.248 100.84L146.636 100.905L147.154 100.776L148.319 99.5407L149.356 100.84L150.522 101.554L151.493 100.904L152.788 100.254L153.997 101.532L154 101.53Z"
                fill="#030712"/>
              <path
                d="M7.38669 294.976L8.68185 293.092L8.03378 291.988L7.38669 291.468L6.54498 292.052L5.63807 292.248L4.99 293.806L5.57287 294.391L7.38669 294.976Z"
                fill="#030712"/>
              <path
                d="M7.38669 296.276L4.98999 296.536L4.60174 297.185H5.24883L5.44345 298.55H6.54498L6.83642 297.413H7.38669V296.276Z"
                fill="#030712"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="default-padding-section">
  <div class="container">
    <div class="row align-items-start row-gap-4xl">
      {{ 'om-oss-policy-text' | global_editable: class: 'col-12 col-lg-6 d-flex flex-column row-gap-lg' }}

      <div class="col-12 col-lg-6 d-flex flex-column row-gap-xl">
        {% for item in lists.foretags-policy-om-oss.rows %}
          <div
            class="gray-card bg-secondary radius-md padding-y-2xl padding-x-xl padding-y-lg-3xl padding-x-lg-2xl h-100">
            <div class="gray-card__image-wrapper margin-bottom-xl">
              <img src="{{ item.ikon }}" alt="{{ item.rubrik }}">
            </div>

            <div class="gray-card__content d-flex flex-column row-gap-sm">
              <p class="display-xs fw-bold">{{ item.rubrik }}</p>
              <p>{{ item.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% include 'bygga_med_oss' %}
{% include 'new_footer' %}